html {
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    -ms-box-sizing: border-box !important;
    box-sizing: border-box !important;
}
*,
*:before,
*:after {
    -webkit-box-sizing: inherit !important;
    -moz-box-sizing: inherit !important;
    -ms-box-sizing: inherit !important;
    box-sizing: inherit !important;
}

* {
    margin: 0;
    padding: 0;
}